@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme colors */
  --background-light: #ffffff;
  --text-light: #000000;
  --primary-light: #6200ea;
  --secondary-light: #03dac5;
  --accent-light: #ff5722;

  /* Dark theme colors */
  --background-dark: #333333;
  --text-dark: #ffffff;
  --primary-dark: #bb86fc;
  --secondary-dark: #03dac6;
  --accent-dark: #ffab91;
}

body {
  text-align: center;
}

[data-theme="light"] body {
  background: var(--background-light);
  color: var(--text-light);
  --primary-color: var(--primary-light);
  --secondary-color: var(--secondary-light);
  --accent-color: var(--accent-light);
}

[data-theme="dark"] body {
  background: var(--background-dark);
  color: var(--text-dark);
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
  --accent-color: var(--accent-dark);
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  background-color: #acacac !important;
  opacity: 0.7;
}