@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 1vw;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: var(--background-color)
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #B2A59B;
  }
}

:root {
  /* Light theme colors */
  --background-light: #ffffff;
  --text-light: #000000;
  --primary-light: #6200ea;
  --secondary-light: #03dac5;
  --accent-light: #ff5722;

  /* Dark theme colors */
  --background-dark: #000000;
  --text-dark: #ffffff;
  --primary-dark: #bb86fc;
  --secondary-dark: #03dac6;
  --accent-dark: #ffab91;

  --z-map: 10;
  --z-controls: 20;
  --z-display: 30;
  --z-popup: 40;
  --z-max: 50;
}

body {
  text-align: center;
  font-size: large;
}

[data-theme="light"] body {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
  --primary-color: var(--primary-light);
  --secondary-color: var(--secondary-light);
  --accent-color: var(--accent-light);

  background: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] body {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
  --accent-color: var(--accent-dark);

  background: var(--background-color);
  color: var(--text-color);
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  background-color: #acacac !important;
  opacity: 0.7;
}

.maplibregl-popup-content {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  height: 100%;
}

.maplibregl-popup-tip {
  display: none !important;
}

.popup-active {
  transform: translateX(20vw);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}