@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: rgb(var(--primary-color))
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #B2A59B;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}

:root {
  /* Light theme colors */
  --background-light: #f0f0f0;
  --text-light: 0 0 0;
  --primary-light: 255 87 34;
  --discrete-light: 104 0 25;
  --accent-light: 219 31 76;

  /* Uncomment to see palettes: */
  /* --background-light: #f0f0f0;
  --text-light: rgb(0, 0, 0);
  --primary-light: rgb(255, 87, 34);
  --discrete-light: rgb(104, 0, 25);
  --accent-light: rgb(219, 31, 76); */

  /* Other light color ideas: */
  /* 159 38 0 */
  /* 89 27 47  */
  /* 110 38 66 dark pink */

  /* Dark theme colors */
  --background-dark: #000000;
  --text-dark: 255 255 255;
  --primary-dark: 234 227 201;
  --discrete-dark: 103 105 126;
  --accent-dark: 227 115 131;

  /* Uncomment to see palettes: */
  /* --background-dark: #000000;
  --text-dark: rgb(255, 255, 255);
  --primary-dark: rgb(234, 227, 201);
  --discrete-dark: rgb(103, 105, 126);
  --accent-dark: rgb(227, 115, 131); */

  --z-map: 10;
  --z-controls: 20;
  --z-display: 30;
  --z-popup: 40;
  --z-max: 50;
}

[data-theme="light"] body {
  --background-color: var(--background-light);
  --text-color: var(--text-light);
  --primary-color: var(--primary-light);
  --secondary-color: var(--secondary-light);
  --accent-color: var(--accent-light);
  --discrete-color: var(--discrete-light);
}

[data-theme="dark"] body {
  --background-color: var(--background-dark);
  --text-color: var(--text-dark);
  --primary-color: var(--primary-dark);
  --secondary-color: var(--secondary-dark);
  --accent-color: var(--accent-dark);
  --discrete-color: var(--discrete-dark);
}

body {
  text-align: center;
  font-size: large;
  background: var(--background-color);
  color: rgb(var(--text-color)/0.8);
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  background-color: rgba(172, 172, 172, 0.64) !important;
  opacity: 0.7;
}

.maplibregl-popup-content {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  width: 100%;
  height: 100%;
}

.maplibregl-popup-tip {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.popup-slide-away {
  transform: translateX(30vw);
  opacity: 0;
  transition: transform 0.7s, opacity 0.7s;
}

.clickable-element {
  opacity: 0.5;
  transition: transform 0.3s, opacity 0.3s;
}

.clickable-element:hover {
  opacity: 1;
  transform: scale(1.25);
}

[data-theme="light"] input::placeholder {
  color: rgb(var(--text-color)/0.5);
}

[data-theme="dark"] input::placeholder {
  color: rgb(var(--text-color)/0.6);
}

.placeholder-start::placeholder {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}

.placeholder-visible::placeholder {
  opacity: 1;
}

/* .color-palette {
  color: #000000;
  color: rgb(227 115 131);
  color: #ff966d;
  color: #d2d2d2;
} */